.survey-container{
    height: fit-content;
    text-align: center;
}

.surv-container{
    width: 100%;
    margin: auto;
    height: fit-content;
}

.surv-container div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.surv-container button{
    border: 0;
    background-color: #57C5A0;
    padding: 10px;
    width: 40%;

}

label{
    display: inline-block;
}