.profile-container{
    height: 100%;
    text-align: center;
}

.profile-info{
    padding-top: 200px;
}

.profile-container i{
    font-size: 80px;
    margin-bottom: 30px;
}

.profile-container button{
    border: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(87, 197, 160);
    color: white;
}