.login-container{
    background-image: url(../../Assets/fondo.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.up-container{
    background-image: url(../../Assets/fondo.png);
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container{
    width: 70%;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    text-align: center;
}

.form-container img{
    height: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.form-container input{
    width: 80% !important;
    margin: auto !important;
    background-color: white !important;
    border: 0px !important;
    border-radius: 10px !important;
    padding: 5px !important;
    margin-bottom: 30px !important;
    outline: 0 !important;
    color: black !important; 
}

.form-container button{
    border: 0px !important;
    background-color: rgb(87, 197, 160);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    outline: 0;
    margin-bottom: 10px;
}

.form-container a{
    color: white !important;
    text-decoration: none !important;
    margin-top: 10px !important;
    text-align: center !important;
    margin: auto;
}